@import '../../../../variables.scss';
:host{
    background: $darkgray;
    padding: 20px;
}
.logo{
    font-size: 22px;
    color: white;
}
.logoIcon , .shopBasket{
    font-size: 32px;
    width: auto;
    height: auto;
    color: aqua;
}

